* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .main {
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 30px;
    place-items: center;
    padding: 0 80px;
  }
  .main .flexbox{
    height: 550px;
    background-color: aqua;
    box-shadow: 0 0 10px rgba(32, 29, 29, 0.3);
   
    overflow: hidden;
    padding: 30px 20px;
    font-family: sans-serif;
  }
  .flexbox h1{
    font-weight: 800;
  }
  .flexbox p{
    margin: 25px 0;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.813);
  }
  .main .flex-div1 {
    width: 25%;
  }
  .main .flex-div2 {
    width: 25%;
  }
  .main .flex-div3 {
    width: 50%;
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .main .flex-div3 p{
    margin: 10px 0 20px 0;
  }
  .btns{
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  .btns button ,.full-btn{
    font-size: 20px;
    font-weight: bold;
    width:30%;
    padding: 10px 0;
    box-shadow: 0 0 10px rgba(32, 29, 29, 0.3);
  }
  .flex-div3 button:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.758);
  }
  .full-btn{
    width: 100%;
  }